{% extends 'full-screen-form.html.twig' %}

{% block title %}Activation{% endblock %}

{% block form %}
    {{ form_start(form, {attr: {class: 'flex flex-col gap-2 w-full items-center'} }) }}
    <h1 class="text-lg">Un code de vérification a été envoié à l'email {{ email }}</h1>
    <p class="text-sm m-0 mb-5">Renvoyer un autre code ? <a href="{{ resendLink }}">cliquez ici</a></p>
    {{ form_errors(form) }}
    <otp-input data-label="" data-name="activate_email[activationCode]"></otp-input>
    <input type="submit" class="btn-primary mt-4 self-center" value="Vérifier"/>
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}