{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    <div class="d-flex align-items-center justify-content-between">
        <span>{{ 'Hello'|trans }}&nbsp;{{ app.user.customer.name }}</span>
        <span class="badge badge-secondary">{{ app.user.customer.principalRole|split('_')[1]|lower|trans|capitalize }}</span>
    </div>
{% endblock %}