{% extends 'full-screen-form.html.twig' %}

{% block title %}{{ 'Register'|trans }}{% endblock %}

{% block form %}

    <div class="mb-4 text-center">
        <h1 class="text-2xl">{{ "Register"|trans }}</h1>
        <p class="text-sm text-gray-500 mt-4">{{ 'welcome, please fill up the next form'|trans }}</p>
    </div>

    {{ form_start(form, {attr: {class: 'flex flex-col gap-2 w-full'} }) }}
    {{ form_row(form.email, {attr: {class: 'w-full rounded'} })}}
    {{ form_row(form.name, {attr: {class: 'w-full rounded'} }) }}
    {{ form_row(form.plaintPassword, {attr: {class: 'w-full rounded'} }) }}
    {{ form_row(form.rePassword, {attr: {class: 'w-full rounded'} }) }}

    <button type="submit" class="btn-primary mt-4 self-center w-full">{{ 'Save'|trans }}</button>
    {{ form_end(form) }}
    <input type="hidden" name="_target_path" value="/account">

    <div class="mt-[30px] flex items-center justify-between w-full">
        <p class="text-sm text-gray-500">{{ 'Did you already have an account ?'|trans }}</p>
        <a href="{{ path('app_login') }}" class="place-self-right btn-secondary">{{ 'Login'|trans }}</a>
    </div>
{% endblock %}