{% extends 'full-screen-form.html.twig' %}

{% block title %}Enrollment{% endblock %}

{% block form %}
    <h1 class="mb-[20px]">{{ 'Who you are ?'|trans }}</h1>
    {{ form_start(form) }}
    <p>
        {{ form_errors(form) }}
    </p>
    <div class="flex gap-5 justify-center items-center">
        <div class="flex flex-col items-center gap-6">
            <button type="submit" value="tenant" name="enrollment[role]" class="w-[180px] h-[80px] bg-white rounded shadow bg-gradient-to-br from-blue-200 to-blue-400">
                {{ 'A tenant'|trans }}
            </button>
            <p class="text-center">{{ 'I am in search of my future house'|trans }}</p>
        </div>
        <div class="flex flex-col items-center gap-6">
            <button type="submit" value="owner" name="enrollment[role]" class="w-[180px] h-[80px] bg-white rounded shadow bg-gradient-to-br from-green-200 to-green-400">
                {{ 'A property owner'|trans }}
            </button>
            <p class="text-center">{{ 'I got some interesting property'|trans }}</p>
        </div>
        {{ form_row(form._token) }}
    </div>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}