{% extends '@!EasyAdmin/layout.html.twig' %}

{% block head_favicon %}
    <link rel="shortcut icon" href="{{ asset('icon.png') }}">
{% endblock %}

{% block header_logo %}
    <div class="d-flex gap-4 align-items-center">
        <a class="logo" style="padding-top: 28px;" title="{{ ea.dashboardTitle|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
            <img src="{{ asset('logo.svg') }}" style="width: 100px;" alt="{{ ea.dashboardTitle|raw }}">
            <span class="logo-compact"><i class="fas fa-home"></i></span>
        </a>
        {% if app.user.customer is defined %}
            <span class="badge badge-info">{{ app.user.customer.principalRole|split('_')[1]|lower|trans|capitalize }}</span>
        {% endif %}
    </div>
{% endblock header_logo %}