@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply py-2 px-5 bg-yellow-300 text-black hover:bg-yellow-400 focus:outline-none focus:ring focus:ring-yellow-400 focus:ring-opacity-75;
    }
    .btn-secondary {
        @apply py-2 px-5 border-yellow-300 border-[2px] text-black focus:outline-none focus:ring focus:ring-yellow-400 focus:ring-opacity-75;
    }
}