<!DOCTYPE html>
<html lang="fr-FR" style="height: 100%">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}PP Rent!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('icon.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body style="height: 100%">
        {% block body %}{% endblock %}
    </body>
</html>
