{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-gradient-to-br from-blue-200 to-gray-400 h-full relative">
        <div class='absolute top-5 left-5'>
            <a href="{{ path('home') }}">
                <img src="{{ asset('logo.png') }}" style="width: 150px" alt="LocaBien"/>
            </a>
            <p class="text-xs text-white"> {{ 'Quickly and Easily find your ideal place'|trans }}</p>
        </div>
        <div class="flex justify-center content-center items-center h-full">
            <div class="rounded p-5 bg-white shadow-md w-2/5 flex flex-col items-center content-center justify-center">
                {% block form %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}