{% extends 'base.html.twig' %}

{% block title %}
    LocaBien
{% endblock %}

{% block body %}
    <div class="w-full h-full relative flex items-center flex-col justify-center gap-5" style="background-position: center; background-image: url('https://fastly.picsum.photos/id/57/2448/3264.jpg?hmac=ewraXYesC6HuSEAJsg3Q80bXd1GyJTxekI05Xt9YjfQ')">
        <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-br from-blue-400 to-blue-500 opacity-50 z-0"></div>
        <div class="z-10">
            <img src="{{ asset('logo.png') }}" style="width: 300px" alt="LocaBien"/>
        </div>
        <div style="margin: 0 auto;" class="p-5 rounded z-10 text-center mb-5 relative">
            <p class="text-2xl text-white mb-4 z-10 relative"> {{ 'Quickly and Easily find your ideal place'|trans }}</p>
            <p class="w-25 text-xs text-white z-10 relative">
                {{ 'We bring you solution that facilitates the rental of real estate, offering choice, convenience and simplicity for tenants and owners'|trans }}
            </p>
            <div class="absolute w-full h-full left-0 top-0 z-0 rounded" style="background-color: rgba(0,0,0,0.25); filter: blur(7px);"></div>
        </div>
        <a href="{{ path('login-success') }}" class="btn-primary z-10">{{ 'Get Started'|trans }}</a>
    </div>
{% endblock %}