{% extends 'full-screen-form.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block form %}

    <div class="mb-4 text-center">
        <h1 class="text-2xl">{{ "Connection"|trans }}</h1>
        <p class="text-sm text-gray-500 mt-4">{{ 'welcome back, please enter your login information'|trans }}</p>
    </div>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post" class="w-full">
        <div class="flex flex-col gap-2">
            <div>
                <label for="username" class="block">Email:</label>
                <input type="text" class="w-full rounded" id="username" name="_username" placeholder="joe@pp-rent.com" value="{{ last_username }}"/>
            </div>
            <div>
                <label for="password" class="block">Password:</label>
                <input type="password" class="w-full rounded" id="password" placeholder="******" name="_password">
            </div>
            <button type="submit" class="btn-primary w-full place-self-center mt-4">Login</button>
        </div>
        <input type="hidden" name="_target_path" value="/login-success"/>
        <div class="mt-[30px] flex items-center justify-between">
            <p class="text-sm text-gray-500">{{ 'Did not have an account ?'|trans }}</p>
            <a href="{{ path('register') }}" class="place-self-right btn-secondary">{{ 'Create an account'|trans }}</a>
        </div>
    </form>
{% endblock %}