{% extends '@!EasyAdmin/crud/new.html.twig' %}

{% block content_title %}
    {{ parent() }}
    <p class="small">{{ 'You can add property' }}</p>
{% endblock %}

{% block new_form %}
    {{ form_start(new_form) }}
    <div class="d-flex flex-row gap-5">
        <div class="flex-grow-1 p-4">
            <legend>{{ 'Property' }}</legend>
            {{ form_row(new_form.ref) }}
            {{ form_row(new_form.affectedTypes) }}
            {{ form_row(new_form.surface) }}
            {{ form_row(new_form.rent_amount) }}
        </div>
        <div class="flex-grow-1 p-4">
            <legend>{{ 'Localisation' }}</legend>
            {{ form_widget(new_form.address) }}
        </div>
    </div>
    {{ form_end(new_form) }}
{% endblock %}