<html lang="en_EN" style="height: 100%">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LocaBien</title>
    </head>
    <body style="margin: 0; padding: 0; width: 100%; height: 100%">
    <div style="
        background-color: rgba(91,237,246,0.5);
        display: flex;
        flex-direction: column;
        gap: 60px;
        justify-content: center;
        align-items: center;
        height: 100%"
    >
        <div style="text-align: center">
            <a href="{{ appUrl ~ path('home') }}">
                <img src="{{ appUrl ~ asset('logo.png') }}" style="width: 150px" alt="LocaBien"/>
            </a>
            <p style="margin: 0;"> {{ 'Quickly and Easily find your ideal place'|trans }}</p>
        </div>
        <div class="flex justify-center content-center items-center h-full">
            <div class="rounded p-5 bg-white shadow-md w-2/5 flex flex-col items-center content-center justify-center">
                {{ content }}
            </div>
        </div>
    </div>
    </body>
</html>